//Fonts
$main-font: "Roboto", sans-serif;
//Colors
$main-color: #6c55f9;
$secondary-color: #8b87a6;
$grey-background: #f6f5fc;
$third-color: #645f88;

//decorations
$link-hover-decoration: underline;
